<font size="5" color='blue'>
List Comprehension - Part 4
</font>`

In [3]:
#  <expression> for <element> in <iterable> if <condition>

In [4]:
[ i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
'''
1.  for <element> in <iterable> 
2.  <expression> 
3.  if <condition>

if we have a filter condition, then the order of execution will be as follows :

1.  for <element> in <iterable> 
2.  if <condition>
3.  <expression> 

'''

In [5]:
[ i for i in range(1,11) if i<=8]   # 1 T, 2 T, 3 T, 4 T, 5 T, 6 T, 7 T, 8 T, 9 F, 10 F

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
[  (i, 'even') if i%2 == 0 else (i, 'odd') for i in range(1,11) if i<=8]

[(1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd'),
 (8, 'even')]

In [7]:
[  (i, 'even') if i%2 == 0  for i in range(1,11) if i<=8]

SyntaxError: expected 'else' after 'if' expression (3190668145.py, line 1)

In [ ]:
'''
1.  generate 1 to 10 
2.  consider only even numbers
3.  for 2 and 4, generate tables
4.  dump the number as a single dimensional list     # [6], [8], [10]
'''

In [16]:
[  [ i*t  for t in range(1,11) ]  if i == 2 or i == 4 else [i]   for i in range(1,11) if i%2 == 0]

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [6],
 [8],
 [10]]

In [9]:
table = []
for i in range(1,11) : 
    if i%2 == 0 :
        if i == 2 or i == 4 :
            table.append([ i*t  for t in range(1,11)])
        else :
            table.append([i])

In [10]:
table

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [6],
 [8],
 [10]]